DATABASE_URL=postgres://USER:PASSWORD@database:5432/DB_NAME  # Docker
# DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DB_NAME  # Local
DATABASE_NAME=DB_NAME
DATABASE_USER=USER
DATABASE_PASSWORD=PASSWORD
DATABASE_HOST=database
DATABASE_PORT=5432